# FOR loops

In [1]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
i = 1
while True:
    print(i)
    i += 1
    if i == 15:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
for num in [1, 2, 3]:
    print (num)
else:
    print('end')  # print at end

1
2
3
end

### итерации

**Итерация** - это общий термин, который описывает процедуру взятия элементов чего-то по очереди.

В более общем смысле, это последовательность инструкций, которая повторяется определенное количество раз или до выполнения указанного условия.

**Итерируемый объект** (iterable) - это объект, который способен возвращать элементы по одному(не обязательно по порядку). Кроме того, это объект, из которого можно получить итератор.

Примеры итерируемых объектов:

* все последовательности: список, строка, кортеж
* словари и множества
* файлы

In [5]:
s = {1,2,3,4,5}
print(type(s))
print(type(iter(s)))
for i in iter(s):
    print(i)

<class 'set'>
<class 'set_iterator'>
1
2
3
4
5

### добавление итератора

In [11]:
s = {1,2,3,4,5}
s_iter = iter(s)
print(s_iter)
print(next(s_iter))
print(next(s_iter))

<set_iterator object at 0x0000013886DA47C8>
1
2

In [13]:
%%js
let numbers = [10, 12, 15, 18, 20];
for (let i = 0; i < numbers.length; i += 1) {
    console.log(numbers[i])
}

## выдать индекс тоже, enumerate

In [14]:
set_of_numbers = {1,2,3,4,5,6}
for i in enumerate(set_of_numbers):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [15]:
a = '1 2 3 4'
b = a.split()
for i in b:
    print(i)

1
2
3
4

## sum calculate

In [16]:
x = [1, 3, 4, 10]
total = 0
for num in x:
    total += num
print(total, 'сумма')

18 сумма

In [18]:
# Здесь мы преобразовали кортеж из предыдущей ячейки в множество и посчитали сумму четных элементов
# В цикл вошли с total = 0 и на каждом элементе добавляли к total значение элементов, удовлетворяющих условию
x = [1,2,3,4,7,49,4,23,63,28,28]

x_set = set(x)

total = 0

for i in x_set:
    if i % 2 == 0:
        total+=i
print(total)
print(x_set)

34
{1, 2, 3, 4, 7, 49, 23, 28, 63}

#### итерации словарей

In [21]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for key in d:
    print(key)
# elements

for k in d:
    print(d[k])

for i in enumerate(d):
    print(i)

foo
bar
baz
1
2
3
(0, 'foo')
(1, 'bar')
(2, 'baz')

In [23]:
for i in enumerate(d):
    print(i)

(0, 'foo')
(1, 'bar')
(2, 'baz')

In [24]:
for v in d.values():
    print(v)

1
2
3

In [25]:
for v in d.keys():
    print(v)

foo
bar
baz

In [26]:
for v in d.items():
    print(v)

('foo', 1)
('bar', 2)
('baz', 3)

In [28]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
    print('k = ', k, ', v = ', v, sep = '')

k = foo, v = 1
k = bar, v = 2
k = baz, v = 3

### range

Есть три способа вызова **range()**:

* **range(стоп)** берет один аргумент
* **range(старт, стоп)** берет два аргумента
* **range(старт, стоп, шаг)** берет три аргумента

In [29]:
# Это как раз первый случай (мы вывели все целые числа ДО трех)
for i in range(3):
    print(i)

0
1
2

In [38]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
mylist = [78, 95, 66666]
for num in mylist:
    print(num)

78
95
66666

In [41]:
for i in range(len(mylist)):
    print(i, mylist[i])

0 78
1 95
2 66666

А теперь отличие от итераторов! У range можно обратиться к элементу или даже срезу (как в списках)

In [95]:
print(range(3)[1])

1

In [42]:
print(range(10)[2:5])
print(len(range(10)[2:5]))

range(2, 5)
3

In [46]:
a = 'helloworld'
for symb in a[3:8]:
    print(symb)

l
o
w
o
r

In [45]:
for ind in range(3, 8):
    print(a[ind])

l
o
w
o
r

### i - index, как число все остальные переменные - элементы

Пересечение множеств

In [47]:
set1 = set(map(int,input().split()))
set2 = set(map(int,input().split()))
set1.intersection(set2)

 1 2 3 1
 22 2 3

{2, 3}

In [51]:
common = set()

list1 = list(map(int,input().split()))
list2 = list(map(int,input().split()))

for  elem1 in list1:
    for elem2 in list2:
        if elem1 == elem2:
            common.add(elem1)
            break

print(common)

 1 1 1 20
 2 1

{1}